@import '../../style/base/vars.scss';


.blog-item {
    &__media {
        position: relative;
        margin-bottom: 68px;
        .blog-item__tag {
            padding: 7px 50px;
            background-color: $main-color;
            width: 203px;
            font-family: "Rufina", sans-serif;
            font-size: 26px;
            font-weight: 700;
            line-height: 48px;
            color: #fff;
            position: absolute;
            top: 0;
            right: 2px;
            box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.08);
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 48px;
        &-text {
            color: $main-color;
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.36px;
            padding-right: 14px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                background-color: $main-color;
                border-radius: 50%;
            }

            &:last-child {
                padding-right: 0;
                &::after {
                    background-color: transparent;
                }
            }

        }
    }

    &__title {
        padding-bottom: 18px;
        border-bottom: 2px solid #000;
        margin-bottom: 18px;
    }
    &__descr {
        color: $dark-grey-color;
        font-size: 22px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 0.44px;
        margin-bottom: 46px;
    }
    &__link {
        display: inline-block;
        padding-right: 60px;
        position: relative;
        line-height: 28px;
        &::after {
            position: absolute;
            content: '';
            background-image: url(./arrow.svg);
            width: 48px;
            height: 28px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}




