@import '../../style/base/vars.scss';


.menuItem {
    max-width: 400px;
    &__price {
        padding-bottom: 12px;
        font-family: "Rufina", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px; 
        text-align: right;
        border-bottom: 1px solid #000;
    }

    &__name {
        @include font68;
        padding: 24px 0;
        
    }
}

@media (max-width: 420px) {
    .menuItem__name {
        font-size: 40px;
        line-height: 50px;
    }
    }
    