@import '../../style/base/vars.scss';

.blog {
    padding: 128px 0;
    &__inner {
        .blog-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
            margin-bottom: 120px;
        }
    }
}

@media (max-width: 1200px) {
    .blog {
        &__inner {
            .blog-item {
                display: grid;
                grid-template-columns: 2fr 3fr;
                gap: 60px;
                
            }
        }
    }
}

@media (max-width: 500px) {
    .blog {
        &__inner {
            .blog-item {
                display: flex;
                flex-direction: column;
            }
        }
    }
}