@import '../../style/base/vars.scss';

.blog {
    padding: 128px 0;
    &__inner {
        .blog-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            margin-bottom: 120px;
        }
    }
}

@media (max-width: 1200px) {
    .blog {
        &__inner {
            .blog-item {
                display: grid;
                grid-template-columns: 2fr 3fr;
                gap: 60px;
                align-items: start;
                &__info {
                    margin-bottom: 15px;
                }
                &__descr {
                    margin-bottom: 20px;
                }
                
            }
        }
    }
}

@media (max-width: 750px) {
    .blog {
        &__inner {
            .blog-item {
                gap: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                &__tag {
                    left: 0;
                } 
                
                &__info {
                    margin-bottom: 30px;
                }
                
            }
        }
    }
}
