@import '../../style/base/vars.scss';

.new-menu {
    padding-top: 122px;
    padding-bottom: 68px;
    background-image: url(images/menuBg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    &__section {
        padding-bottom: 140px;
        margin-bottom: 82px;
        &-title {
            text-align: center;
            margin-bottom: 18px;
            
        }
        &-descr {
            text-align: center;
            margin-bottom: 81px;
        }
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
            &-img {
                object-fit: cover;
            }
        }

        &:last-child {
            padding-top: 100px;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                background-image: url(./images/menuDrinksBg.svg);
                background-repeat: no-repeat;
                width: 350px;
                height: 420px;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .new-menu__section-descr {
                margin-bottom: 160px;
            }
        }
    }
}

@media(max-width: 1400px) {
    .new-menu__section-inner {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 60px;
        &-img {
            object-fit: cover;
        }
    }
}

@media(max-width: 1200px) {
    .new-menu__section-inner {
        grid-template-columns: 50% 50%;
    }
}

@media(max-width: 1000px) {
    .new-menu__section {
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .menuItem {
                max-width: 90%;
                margin: 0 auto;
                margin-bottom: 50px;
            }
            
        }
        &-img {
            width: 70%;
            margin: 0 auto;
        }
    }
    
}

@media(max-width: 700px) {
    .new-menu__section {
        padding-bottom: 40px;
        margin-bottom: 30px;
    }
    .new-menu__section:last-child:before {
        background-size: 80%;
        width: 200px;
        height: 500px;
    }
    
}



