@import "../../style/base/vars.scss";

.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    justify-content: center;
    text-align: center;
    &-media {
        width: 260px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-grey-color;
        border-radius: 50%;
        .benefits__item-img {
            width: 184px;
            height: 184px;
            object-fit: cover;
        }
    }

    &-descr {
        color: $dark-grey-color;

    }
}

@media (max-width: 1600px) {
    .benefits__item {
        &-media {
            width: 220px;
            height: 220px;
            &-img {
                width: 160px;
                height: 160px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .benefits__item {
        max-width: 300px;
        &-media {
            width: 150px;
            height: 150px;
            .benefits__item-img {
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 950px) {
    .benefits__item {
        max-width: 210px;
        .benefits__item-title {
            font-size: 35px;
            line-height: 45px;
        }
        .benefits__item-descr {
            font-size: 19px;
            line-height: 25px;
        }
    }
}

@media(max-width: 520px) {
    .benefits__item {
        gap: 15px;
    }
}

