@import "../../style/base/vars.scss";

.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    justify-content: center;
    text-align: center;
    &-media {
        width: 260px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-grey-color;
        border-radius: 50%;
        .benefits__item-img {
            width: 184px;
            height: 184px;
        }
    }

    &-descr {
        color: $dark-grey-color;

    }
}