@import '../../style/base/vars.scss';

.promo {
    padding-top: 102px;
    background-color: $dark-green-color;
    color: #fff;
    .promo__inner {
        padding-bottom: 350px;
        margin-bottom: 240px;
        display: flex;
        min-height: 100vh;
        position: relative;
        background-image: url(./images/promo/promo.jpg);
        background-repeat: no-repeat;
        background-position: right bottom;
        .promo__main {
            position: relative;
            &-title {
                font-family: "Rufina", sans-serif;
                font-size: 148px;
                width: 1400px;
                font-weight: 700;
                line-height: 152px;
                margin-bottom: 50px;
            }
            &-text {
                margin-bottom: 170px;
            }
            &-scroll {
                font-family: Rufina;
                font-size: 48px;
                font-weight: 700;
                line-height: 64px;
                transform: rotate(90deg);
                position: absolute;
                left: 0;
            }
        }

        .promo__media {
            // &-img {
            //     width: 792px;
            //     height: 931px;
            //     position: absolute;
            //     top: 10%;
            //     right: 0;
            // }
            &-spices {
                display: flex;
                gap: 44px;
                position: absolute;
                bottom: 0;
                right: 20%;
                .spices-img {
                    width: 260px;
                    height: 240px;
                }
            }
        }
    }

    .promo__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        &-column {
            .promo__info-title {
                font-family: Rufina;
                font-size: 68px;
                font-weight: 700;
                line-height: 84px;
                margin-bottom: 54px;
                max-width: 493px;
            }
            .promo__info-text {
                max-width: 565px;
            }
            .promo__info-img {
                margin-bottom: 54px;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .promo__info-text {
                    max-width: 508px;
                    margin-bottom: 84px;
                }
            }
        }
        
    }
    
}

.our-menu {
    background-image: url(images/menuSectionBg.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 176px 0 218px;
    &__title {
        margin-bottom: 18px;
    }
    &__descr {
        margin-bottom: 158px;
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 108px;
    }
}

.ecxellent {
    background-image: url(images/ExcellentBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 222px;
    height: 100vh;
    &__inner {
        max-width: 650px;
        margin-left: auto;
    }
    
    &__title {
        margin-bottom: 18px;
    }
}

.benefits {
    padding: 207px 0 190px;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.blog-preview {
    padding: 130px 0 105px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
    }
}

.categories {
    padding: 128px 138px;
    &__title {
        text-align: center;
        margin-bottom: 18px;
        max-width: 50%;
        margin: 0 auto;
    }

    &__descr {
        text-align: center;
        color: $dark-grey-color;
        margin-bottom: 126px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
    }
}

.reviews {
    background-image: url(./images/reviews.svg);
    background-repeat: no-repeat;
    background-position: right;
    &__inner {
        padding: 118px 0 145px;
    }
}






