@import '../../style/base/vars.scss';

.promo {
    padding-top: 252px;
    background-color: $dark-green-color;
    color: #fff;
    .promo__inner {        
        position: relative;
        margin-bottom: 240px;
        display: flex;
        min-height: 100vh;
        background-image: url(./images/promo/promo.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        background-position-y: 20%;
        .promo__main {
            &-title {
                font-family: "Rufina", sans-serif;
                font-size: 148px;
                font-weight: 700;
                line-height: 152px;
                margin-bottom: 50px;
            }
            &-text {
                margin-bottom: 50px;
            }
            &-scroll {
                font-family: Rufina;
                font-size: 48px;
                font-weight: 700;
                line-height: 64px;
                writing-mode: vertical-rl;
                text-orientation: mixed;
            }
        }

        .promo__media {
            &-spices {
                display: flex;
                gap: 44px;
                position: absolute;
                bottom: 10%;
                width: 850px;
                left: 50%;
                transform: translateX(-50%);
                .spices-img {
                    width: 260px;
                    height: 240px;
                    object-fit: cover;
                }
            }
        }
    }

    .promo__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        &-column {
            .promo__info-title {
                font-family: Rufina;
                font-size: 68px;
                font-weight: 700;
                line-height: 84px;
                margin-bottom: 54px;
                max-width: 493px;
            }
            .promo__info-text {
                max-width: 565px;
            }
            .promo__info-img {
                margin-bottom: 54px;
                object-fit: cover;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .promo__info-text {
                    max-width: 508px;
                    margin-bottom: 84px;
                }
            }
        }
        
    }
    
}

.our-menu {
    background-image: url(images/menuSectionBg.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 176px 0 218px;
    &__title {
        margin-bottom: 18px;
    }
    &__descr {
        margin-bottom: 158px;
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 108px;
    }
}

.ecxellent {
    background-image: url(images/ExcellentBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 222px;
    height: 100vh;
    background-color: $light-grey-color;
    &__inner {
        max-width: 650px;
        margin-left: auto;
    }
    
    &__title {
        margin-bottom: 18px;
    }
}

.benefits {
    padding: 207px 0 190px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px ;
    }
}

.blog-preview {
    padding: 130px 0 105px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
    }
}

.categories {
    padding: 128px 0px 138px;
    &__title {
        text-align: center;
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 18px;
    }

    &__descr {
        text-align: center;
        color: $dark-grey-color;
        margin-bottom: 126px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
    }
}

.reviews {
    background-image: url(./images/reviews.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 118px 0 145px;
    font-family: "Rufina", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    &__inner {
        position: relative;
    }
    .reviews__slider-buttons {
        position: absolute;
        bottom: 60px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        .reviews__slider-info {
            display: flex;
        }
    }
  
}

@media(max-width: 1600px) {
    .promo {
        .promo__inner {
            .promo__main-title {
                font-size: 110px;
                line-height: 120px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .ecxellent {
        padding-top: 150px;
    }

}

@media (max-width: 1100px) {
    .promo {
        .promo__inner {
            background-size: 70%;
            background-position: right 62px;
            margin-bottom: 100px;
            .promo__media {
                &-spices {
                    width: 80%;
                    left: 50%;
                    transform: translateX(-50%);
                    .spices-img {
                        object-fit: cover;
                        width: 30%;
                        height: 30%;
                    }
                }
            }
        }
    }

    .ecxellent {
        padding-top: 100px;
        background-position: center ;
        background-size: 100%;
    }

    .benefits {
        padding: 170px 0;
        &__inner {
            grid-column-gap: 20px ;
        }
    }

    .categories {
        padding: 100px 0px 100px;
        &__title {
            max-width: 80%;
        }
    
        &__descr {
            margin-bottom: 80px;
        }
    
        &__inner {
            grid-column-gap: 30px;
        }
    }

    .blog-preview {
        max-width: 90%;
        margin: 0 auto;
        &__inner {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 160px;
        }
    }
}

@media (max-width: 860px) {
    .promo {
        padding-top: 220px;
        .promo__inner {
            margin-bottom: 80px;
            .promo__main-title {
                font-size: 86px;
                line-height: 96px;
            }
            
        }
        .promo__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-column {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
                &:last-child {
                    flex-direction: column;
                }
                .promo__info-img {
                    max-width: 80%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
                .promo__info-title {
                    order: 1;
                }
                .promo__info-text {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .our-menu {
        padding: 76px 0 118px;
        max-width: 90%;
        margin: 0 auto;
        &__descr {
            margin-bottom: 80px;
        }
        &__info {
            
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .benefits {
        padding: 100px 0;
        .benefits__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .benefits__item {
                margin-bottom: 50px;
            }
        }
    }

    .categories {
        &__inner {
            gap: 15px;
            margin: 0 auto;
            .category-item {
                &__link {
                    font-size: 24px;
                    left: 10px;
                    top: 10px;
                    &-img {
                        max-width: 15%;
                    }
                }
            }
        }
    }

    .reviews {
        .reviews__slider-buttons {
            gap: 15px;
            bottom: -100px;
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            font-size: 28px;
            line-height: 35px;
            .reviews__slider-btn {
                width: 50px;
            }
        }
    }
    

    
}

@media (max-width: 680px) {
    .promo {
        padding-top: 200px;
        .promo__inner {
            margin-bottom: 120px;
            padding-bottom: 200px;
            background-position: center bottom;
            .promo__main {
                &-title {
                    font-size: 60px;
                    line-height: 74px;
                    text-align: center;
                }

                &-text {
                    text-align: center;
                    margin-bottom: 90px;
                }

                &-scroll {
                    display: none;
                }
            }           

            .promo__media-spices {
                bottom: 0;
            }
            
        }
        .promo__info {
            .promo__info-column {
                .promo__info-title {
                    font-size: 54px;
                    line-height: 69px;
                }
            }
            
        }
    }

    .categories {  
        &__title {
            max-width: 100%;
        }  
        &__inner {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            max-width: 70%;
            margin: 0 auto;
        }
    }

}

@media (max-width: 520px) {
    .promo {
        .promo__inner {
           background-size: 100%;
           background-position: center bottom;
            .promo__main-title {
                font-size: 41px;
                line-height: 53px;
            }
            .promo__media-spices {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                bottom: -10%;
                left: 40%;
            }
        }

        .promo__info {
            .promo__info-column {
                .promo__info-title {
                    font-size: 34px;
                    line-height: 46px;
                }
                .promo__info-img {
                    max-width: 100%;
                }
            }
            
        }
    }

    .benefits {
        padding: 70px 0;
    }

    .blog-preview {
        padding-top: 10px;
        padding-bottom: 70px;
        &__inner {
            grid-row-gap: 70px;
        }
        .blog-item {
            &__media {
                margin-bottom: 30px;
            }
    
            &__title {
                font-size: 22px;
                line-height: 30px;
            }
    
            &__info {
                margin-bottom: 15px;
                &-inner {
                    gap: 8px;
                    .blog-item__info-text {
                        font-size: 14px;
                    }
                }
            }
    
            &__descr {
                font-size: 16px;
                margin-bottom: 15px;
            }

            &__link::after {
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: left center;
            }
        }
    }

    .categories {  
        padding: 70px 0;
        &__inner {
            max-width: 90%;
        }
    }

    .reviews {
        padding-top: 70px;
        .reviews__slider-buttons {
            bottom: -100px;
        }
    }

}








