@import '../../style/base/vars.scss';

.promo {
    padding-top: 102px;
    background-color: $dark-green-color;
    color: #fff;
    .promo__inner {
        display: flex;
        min-height: 100vh;
        .promo__main {
            position: relative;
            &-title {
                font-family: "Rufina", sans-serif;
                font-size: 148px;
                font-weight: 700;
                line-height: 152px;
                margin-bottom: 50px;
            }
            &-scroll {
                font-family: Rufina;
                font-size: 48px;
                font-weight: 700;
                line-height: 64px;
                transform: rotate(90deg);
                position: absolute;
                left: 0;
            }
        }

        .promo__media {
            &-img {
                width: 792px;
                height: 931px;
                position: absolute;
                bottom: 83px;
            }
            &-spices {
                display: flex;
                gap: 44px;
                position: absolute;
                bottom: 0;
                left: 50%;

                .spices-img {
                    width: 260px;
                    height: 240px;
                }
            }
        }
    }

    .promo__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        &-column {
            .promo__info-title {
                font-family: Rufina;
                font-size: 68px;
                font-weight: 700;
                line-height: 84px;
                margin-bottom: 54px;
                max-width: 493px;
            }
            .promo__info-text {
                max-width: 565px;
            }
            .promo__info-img {
                margin-bottom: 54px;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .promo__info-text {
                    max-width: 508px;
                    margin-bottom: 84px;
                }
            }
        }
        
    }
    
}

.our-menu {
    background-image: url(images/menuSectionBg.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 176px 0 218px;
    &__title {
        margin-bottom: 18px;
    }
    &__descr {
        margin-bottom: 158px;
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 108px;
    }
}

.ecxellent {
    background-image: url(images/ExcellentBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 222px;
    height: 100vh;
    &__inner {
        max-width: 650px;
        margin-left: auto;
    }
    
    &__title {
        margin-bottom: 18px;
    }
}

.benefits {
    padding: 207px 0 190px;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.blog-preview {
    padding: 130px 0 105px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
    }
}

.reservation {
    background-color: $light-grey-color;
    padding: 237px 0 254px;
    &__title {
        text-align: center;
        margin-bottom: 18px;
    }

    &__descr {
        text-align: center;
        margin-bottom: 133px;
    }

    &__form {
        &-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 48px;
            margin-bottom: 133px;
            .reservation__form-input {
                padding: 30px 40px;
                border: 2px solid #000;
                background-color: transparent;

            }
        }
        &-btn {
            display: block;
            width: 344px;
            margin: 0 auto;
            color: #fff;
            background-color: $dark-green-color;
            padding: 20px 40px;
            text-align: center;
            font-family: "Rufina", sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px; 

        }
    }
}






