@import '../../style/base/vars.scss';

.about-us {
    padding: 218px 0 300px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-image: url(./images/bg.svg);
        width: 400px;
        height: 330px;
        background-repeat: no-repeat;
        top: 94px;
        left: 40%;

    }
    &__story {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 117px;
        margin-bottom: 162px;
        &-info {
            max-width: 40%;
            .about-us__story-title {
                margin-bottom: 18px;
            }
        }
    }

    &__staff {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .about-us__staff-info {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            justify-content: center;
            .about-us__staff-title {
                @include font68;
            }
        }
        
        .about-us__staff-about {
            max-width: 510px;
        }
    }
}

.video {
    min-height: 100vh;
    background-image: url(./images/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title {
        margin-bottom: 18px;
    }

    &__descr {
        margin-bottom: 82px;
    }
}

.process {
    position: relative;
    padding: 267px 0 320px;
    &__title {
        margin-bottom: 174px;
        text-align: center;
    }
    &__item {
        display: grid;
        grid-template-columns: 60% 30%;
        grid-column-gap: 60px;
        margin-bottom: 118px;
        &-group {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            .process__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .process__item-img {
                object-fit: cover;
            }
        }
        &.second {
            flex-direction: column;
            padding-bottom: 100px;
            .process__item-img {
                margin-bottom: 46px;
                max-width: 80%;
            }
        }
        &.third {
            padding-top: 100px;
            flex-direction: column-reverse;
            .process__item-descr {
                margin-bottom: 46px;
            }
        }
        &-title {
            margin-bottom: 28px;
            font-family: "Rufina", sans-serif;
            font-size: 88px;
            font-weight: 700;
            line-height: 120%;
        }
        &-descr {
            max-width: 610px;
        }
    }
    &::before {
        position: absolute;
        content: '';
        background-image: url(./images/processBg1.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        width: 700px;
        height: 600px;

        top: 0;
        right: 0;
    }

    &::after {
        position: absolute;
        content: '';
        background-image: url(./images/processBg2.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        width: 700px;
        height: 600px;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 1100px) {
    .video {
        padding: 100px 0;
        min-height: 50vh;
        &__title {
            margin-bottom: 18px;
        }
        &__descr {
            margin-bottom: 40px;
        }
        &-btn__img {
            width: 70px;
            height: 70px;
        }
    }
    .process__item {
        grid-template-columns: 53% 40%;
        grid-column-gap: 35px;
        &-title {
        font-size: 65px;
        }
        &.third {
            padding-top: 10px;
        }
    }

    .process__item-group {
        .process__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (max-width: 830px) {
    .video {
        &__title {
            font-size: 50px;
        }
        &__descr {
            text-align: center;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
    .process {
        padding: 100px 0;
        &__title {
            margin-bottom: 80px;
        }
        &::before {
            width: 40%;
            height: 40%;
            background-size: contain;
        }

        &::after {
            width: 40%;
            height: 40%;
            background-size: contain;
        }
        &__item {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;
            &-img {
                max-width: 80%;
            }
            &-descr {
                max-width: 100%;
            }
    
            &-group {
                flex-direction: column;
                gap: 0;
            }
            &.second {
                padding-bottom: 40px;
            }
            &.third {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 600px) {
    .video {
        padding: 70px 0;
        &__title {
            font-size: 40px;
        }
        &__descr {
            max-width: 100%;
        }
        &-btn__img {
            width: 60px;
            height: 60px;
        }
    }
    .process {
        padding: 70px 0;
        &__title {
            margin-bottom: 50px;
        }
        &__item {
            margin-bottom: 50px;
            &-title {
                font-size: 45px;
            }
            &-img {
                max-width: 90%;
            }

        }
    }
}

@media (max-width: 420px) {
    .process__item-title {
        font-size: 35px;
    }
}









