@import '../../style/base/vars.scss';

.reservation {
    background-color: $light-grey-color;
    padding: 237px 0 254px;
    &__title {
        text-align: center;
        margin-bottom: 18px;
    }

    &__descr {
        text-align: center;
        margin-bottom: 133px;
    }

    &__form {
        &-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 48px;
            margin-bottom: 133px;
            .reservation__form-input {
                padding: 30px 40px;
                border: 2px solid #000;
                background-color: transparent;

            }
        }
        &-btn {
            display: block;
            width: 344px;
            margin: 0 auto;
            color: #fff;
            background-color: $dark-green-color;
            padding: 20px 40px;
            text-align: center;
            font-family: "Rufina", sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px; 

        }
    }
}