@import '../../style/base/vars.scss';

.reservation {
    background-color: $light-grey-color;
    padding: 237px 0 254px;
    &__title {
        text-align: center;
        margin-bottom: 18px;
    }

    &__descr {
        text-align: center;
        margin-bottom: 133px;
    }

    &__form {
        &-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 48px;
            margin-bottom: 133px;
            .reservation__form-input {
                padding: 30px 40px;
                border: 2px solid #000;
                background-color: transparent;

            }
        }
        &-btn {
            display: block;
            width: 344px;
            margin: 0 auto;
            color: #fff;
            background-color: $dark-green-color;
            padding: 20px 40px;
            text-align: center;
            font-family: "Rufina", sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px; 
            transition: all 0.5s;
            &:hover {
                background-color: $main-color;
            }

        }
    }
}

@media (max-width: 1200px) {
    .reservation {
        &__form {
            max-width: 60%;
            margin: 0 auto;
            &-info {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media (max-width: 820px) {
    .reservation {
        &__form {
            max-width: 80%;
            &-info {
                .reservation__form-input {
                    padding: 23px 30px;
            }
            }
        }
    }
}

@media (max-width: 560px) {
    .reservation {
        padding: 100px 0;
        &__descr {
            margin-bottom: 70px;
        }
        &__form {
            max-width: 90%;
            &-info {
                margin-bottom: 70px;
                gap: 35px;
                margin-bottom: 40px;
                .reservation__form-input {
                    padding: 23px 30px;
                }
            }

            .reservation__form-btn {
                padding: 13px 23px;
                width: 260px;
            }
        }
    }
}

@media (max-width: 480px) {
    .reservation {
        &__descr {
            margin-bottom: 40px;
        }
        &__form {
            max-width: 100%;
            &-info {
                gap: 35px;
                margin-bottom: 40px;
                .reservation__form-input {
                    padding: 15px 20px;
                }
            }

            .reservation__form-btn {
                padding: 8px 23px;
                width: 170px;
                font-size: 20px;
            }
        }
    }
}