@import '../../style/base/vars.scss';

.page-promo {
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 342px;
    padding-bottom: 10px;
    &__title {
        font-family: "Rufina", sans-serif;
        font-size: 148px;
        font-weight: 700;
        line-height: 152px;
        margin-bottom: 50px;
    }

    &__descr {
        font-family: "Rufina", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px; 

    }
}


@media (max-width: 1600px) {
    .page-promo__title {
        font-size: 120px;
        font-weight: 700;
        line-height: 132px;
    }
}

@media (max-width:900px) {
    .page-promo {
        height: 70vh;
        padding-top: 200px;
        &__title {
            font-size: 80px;
            line-height: 92px;
            max-width: 80%;
        }
    }
}

@media (max-width: 600px) {
    
    .page-promo {
        height: 50vh;
        padding-top: 150px;
        &__title {
        font-size: 62px;
        line-height: 70px;
        }
    }
}

@media (max-width: 500px) {
    .page-promo {
        height: 40vh;
        padding-top: 120px;
        &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        }
    }
}