@import '../../style/base/vars.scss';

.page-promo {
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 342px;
    &__title {
        font-family: "Rufina", sans-serif;
        font-size: 148px;
        font-weight: 700;
        line-height: 152px;
        margin-bottom: 50px;
    }

    &__descr {
        font-family: "Rufina", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px; 

    }
}

@media (max-width: 1600px) {
    .page-promo__title {
        font-size: 120px;
        font-weight: 700;
        line-height: 132px;
    }
}

@media (max-width: 700px) {
    .page-promo__title {
        font-size: 72px;
        font-weight: 700;
        line-height: 82px;
    }
}

@media (max-width: 500px) {
    .page-promo__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }
}