@import '../../style/base/vars.scss';

.category-item {
    position: relative;
    transition: all 0.5s;
    &__link {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 80%;
        top: 48px;
        left: 40px;  
        color: $dark-green-color;

    }
    &:hover {
        transform: scale(1.1);
    }
}
